{% extends "base.html" %}

{% block content %}
  <div class="relative p-4">
    {#searchbar#}
    <div class="static w-120">
      <form method="GET" action="{% url 'products_search' %}">
        <label class="input">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
          <input type="search" required placeholder="Search brand name ..." name="brand_name" value="{{ request.GET.brand_name|default_if_none:'' }}"/>
        </label>
      </form>
    </div>

    {# Product Listing #}
    <div class="static flex flex-col pt-10">
      <h1 class="text-3xl font-bold mb-6">{{ brand_name }} Products</h1>
      <div class="row grid grid-cols-3 lg:grid-cols-4 sm:grid-cols-2 gap-8 m-4">    
        {% for product in products %}
          <div class="card card-compact bg-base-100 shadow-xl">
            <figure>
              <img
                src="{{ product.image }}"
                alt="{{ product.name }}"
                class="rounded-md m-4 p-4"/>
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{ product.name }}</h2>
              <p> Amazon Standard Identification Number: {{ product.asin }}</p>
              <div class="card-actions justify-end">
                <a class="btn btn-primary" href="{{ product.page }}">Buy Now</a>
              </div>
            </div>
          </div>
        {% empty %}
          <p>No products found for this brand.</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}