<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styles.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=At+Hauss&display=swap" rel="stylesheet">
  <title>Amazon Product Listing</title>
</head>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn w-10 rounded-full">Amazon Brands</a>
    </div>
    <div class="flex-none">
{#      <ul class="menu menu-horizontal px-1 space-x-2">#}
{#        <li><a class="btn rounded-full">Portfolio</a></li>#}
{#        <li><a class="btn rounded-full">Blog</a></li>#}
{#        <li><a class="btn rounded-full">Contact</a></li>#}
{#      </ul>#}
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>